*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
    background-color: rgb(245, 234, 214);
}

::selection{
    background-color: #9b9271;
    color: white;
}

nav{
    background-image: url(../img/fundo.png);
}

.navbar-toggler{
    color: rgba(255,255,255,.5);
    border-color: #ffffff;
}

li .nav-link{
    text-transform: uppercase;
    color: #a2702e;
}

.nav-link:hover{
    color:#fcfaf7;
    border-bottom: 1px solid #9e723a;
    display: inline-block;
}

.nav-item{
    padding-left: 10px;
}

/* conteudo principal */
main{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}

.same-height-image {
    height: 100%;
}

/* seção principal */

.conteudo{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 10px 0;
}

.img-fluid {
    transition: transform 0.5s; 
}

.img-fluid:hover {
    transform: scale(1.1); 
}

.espacamento{
    margin-bottom: 20px;
}

h3{
    font-size: small;
    font-weight: bolder;
    text-transform: uppercase;
    color: #227115
}

.itens{
    padding-left: 35px;
}

.link-exp{
    font-size: 10pt;
    text-decoration: none;
    color: #9e723a;
}

.link-exp:hover{
    color: #227115;
    text-decoration: none;
}

.destaque{
    font-weight: bold;
    color: #9e723a;
    font-size: 10pt;
    text-decoration: none;
}

.destaque:hover{
    font-weight: bold;
    color: #227115;
    text-decoration: none;
}

/* conteudo lateral */

#visita{
    margin-top: 30px;
    background-color: #cdc8b1;
    padding: 30px;
}

.titulo-lateral{
    color: #a2702e;
}

#visita button{
    border: none;
    width: 100%;
    padding: 10px;
    background-color: #9b9271;
    color: white;
    cursor: pointer;
    font-size: 1vw;
}

#visita button:hover{
    color: black;
    background-color: #837a58;
}

#fotos{
    padding: 30px;
}

#fotos a{
    background: url(../img/fundo-foto.png) no-repeat;
    padding: 17px 15px 18px 15px;
}

/* rodapé */
footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#rodape{
    margin: 10px;
}

#rodape section{
    margin-bottom: 10px;
}

#rodape section a{
    padding: 0 15px;
}

/* resposividade */

@media (max-width: 992px) {
    /* Estilos para dispositivos sm e menores */
    .container {
        overflow:hidden;
    }
    .conteudo {
        display: block;
        width: 100%;
    }
    iframe{
        width: 200%;
        height: 250px;
    }
    .respons{
        display: block;
        width: 200%;
    }
    
}

@media (max-width: 768px){
    .container {
        overflow:hidden;
    }

    aside section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    #depoimento{
        margin-top: 50px;
    }
    #fotos a{
        background: url(../img/fundo-foto.png) no-repeat center;
        padding: 17px 15px 18px 15px;
    }
    #visita button{
        border: none;
        width: 100%;
        padding: 10px;
        background-color: #9b9271;
        color: white;
        cursor: pointer;
        font-size: 2vw;
    }
}
